.index-content {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  margin: 1rem 0;
}

.sidebar {
  width: 100px;
  height: auto;
  background: #bbb;
  display: block;
}

@media only screen and (max-width: 600px) {
  .sidebar {
    display: none;
  }

  .index-content {
    justify-content: center;
  }
}

.post {
  width: 360px;
  background: #bbb;
  margin: 16px 0;
  padding: 4px;
}

.post .post-header {
  display: flex;
  flex-direction: row;
}

.post .meta {
  margin-left: 8px;
}

.post .author, .post .date {
  margin: 0;
  padding: 0;
}

.post .avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.post img {
  width: 100%;
  height: auto;
}

.post .like-button {
  width: 40px;
  height: 40px;
}
