.login-content {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
}

.login-card {
  width: 360px;
  background: #bbb;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 0.3rem;
  padding: 1rem;
}

h1 {
  margin: 0;
  margin-bottom: 0.5rem;
}

p {
  margin: 0;
}

span {
  color: #177db8;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  justify-content: space-between;
  align-items: center;
}
