html,
body {
  height: 100%;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  background: #bbb;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 2rem;
}

header a {
  color: #000;
}

header a:hover {
  color: #fff;
  background-color: #16adcb;
}

footer {
  background: #bbb;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;
}

.profile-container {
  position: relative;
}

.profile-container img {
  cursor: pointer;
  border-radius: 50%;
}

.profile-dropdown {
  position: absolute;
  right: 0;
  background: #eee;
  border-radius: 8px;
  min-width: 200px;
  z-index: 1000;
  visibility: hidden;
}

.profile-dropdown p {
  margin: 0;
  padding: 10px 14px;
  color: #333;
  font-size: 0.95rem;
}
